<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <title>Document</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" href="/">Anil's Blog</a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blog">Blogs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/create">Create</a>
                    </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav mb-2 mb-lg-0 d-flex align-items-center">
                    {% if user.is_authenticated %}

                    <li>
                        <a class="me-2" href="/logout">
                            <button class="btn btn-outline-primary ">Logout</button>
                        </a>
                    </li>
                    <li class="prof-login me-2">
                        <h2>{{user.username.0|capfirst}}</h2>
                    </li>

                    {% else %}
                    <li>
                        <a class="me-2" href="/login">
                            <button class="btn btn-primary ">Login</button>
                        </a>
                    </li>
                    <li>
                        <a href="/register">
                            <button class="btn btn-outline-primary">Register</button>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}

    <footer class="footer py-3 bg-light">
        <div class="container">
            <span class="text-muted">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Blogs
                        </a>
                    </li>
                </ul>
            </span>
        </div>
    </footer>
    <script src="{% static 'script/bootstrap.min.js' %}"></script>
    <script src="{% static 'script/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'script/bootstrap.bundle.min.js' %}"></script>


</body>

</html>