{% extends 'base.html' %}
{% block content %}
<div class="container my-5">
    {% if user.is_authenticated %}
    <form class="row g-3" method="post">
        {% csrf_token %}
        <div class="col-md-6">
            <label for="contenttag" class="form-label">Tag</label>
            <input type="text" name="tag" class="form-control" id="contenttag">
        </div>
        <div class="col-md-6">
            <label for="contenttitlek" class="form-label">Title</label>
            <input type="text" name="title" class="form-control" id="contenttitlek">
        </div>
        <!-- <div class="col-2">
            <label for="date" class="form-label">Current Date</label>
            <input type="time" name="curdate" class="form-control" id="date" >
        </div> -->
        <div class="col-12">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" name="description" id="description" rows="10"
                placeholder="description"></textarea>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Upload</button>
        </div>
    </form>
    {% else %}
    <h2>Please Login to publish your blog</h2>
    <a href="login">Login</a>
    {% endif %}
</div>
{% endblock %}