{% extends 'base.html' %}
{% block content %}
<div class="container">
    <form class="mx-auto my-4" style="max-width: 300px;" method="post">
        {% csrf_token %}
        {% load static %}
        <img class="mx-auto mb-4 " src="{% static 'images/anil.jpg' %}" alt="" width="72" height="auto">
        <h1 class="h3 mb-3 mx-auto fw-normal">Please Login</h1>

        <div class="form-floating">
            <input type="text" class="form-control" name="username" id="floatingInput" placeholder="anil">
            <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Log in</button>
        <p class="mt-5 mb-3 text-muted">New here? <a href="register">Register</a></p>
    </form>
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
</div>
{% endblock %}